.pokedex_wrapper {
  width: 100%;
  height: auto;
  background-color: red;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.pokedex_imagem {
  width: 20%;
}

.pokedex_container {
  width: 80%;
  color: white;
  font-family: "Arial";
  font-size: 10pt;
  padding: 8px;
}